#!/usr/bin/env bash

export SERVICE_BROKER_APP_NAME=overview-broker
export SERVICE_BROKER_NAME=overview-broker
export SERVICE_BROKER_USERNAME=admin
export SERVICE_BROKER_PASSWORD=password
export SERVICE_NAME=overview-broker
export SERVICE_PLAN_NAME=simple
export SERVICE_INSTANCE_NAME=my-service
export SERVICE_BINDING_NAME=my-binding
export CREDENTIALS_NAME=my-secret
export NAMESPACE=development
export ORG=development
export SERVICE_BROKER_SPACE=brokers
export DEV_SPACE=dev
export SOURCE_SPACE=source
export TARGET_SPACE=target
export SOURCE_APP=source-app
export TARGET_APP=target-app
