#!/usr/bin/env bash

export SERVICE_BROKER_APP_NAME=overview-broker-demo
export SERVICE_BROKER_NAME=overview-broker-demo
export SERVICE_INSTANCE_NAME=my-service
export SERVICE_BINDING_NAME=my-binding
export CREDENTIALS_NAME=my-secret

